#bookmarks-card {
    width: 100%;
    display: grid;
    grid: auto-flow / 1fr 1fr;
}

#bookmarks-card>.favorite {
    font-size: 15px;
    padding: 10 10px;
    text-align: left;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* TODO: Not a fan of the sudden relative unit :thinking: */
.favorite li {
    padding: 0 0 0 .5rem;
}

span.short {
    color: antiquewhite;
    width: 33%;
}

span.link {
    width: 66%;
}

.favorite>p.title {
    font-size: 20px;
}

.favorite-header {
    display: flex;
}

.favorite-controls {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    margin-left: 0.3rem;
}

.favorite:hover .favorite-controls {
    /* TODO: Keep hidden for now */
    opacity: 0;
    visibility: hidden;
    display: none;
}

.favorite-controls-edit-button {
    background-color: transparent;
    color: rgba(250, 235, 215, 0.4);
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: 12px;
    height: 12px;
}

.favorite-controls-edit-button:hover {
    color: whitesmoke;
}