#owl {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#logo-image {
    padding: 10px;
}

#datetime-card {
    display: flex;
    justify-content: space-evenly;
}