/* Trying to replace jquery slimscroll */
/* @see https://github.com/rochal/jQuery-slimScroll/blob/master/jquery.slimscroll.js */

#rss-card::-webkit-scrollbar {
    display: none;
}

#rss-card {
    overflow: auto;
    scrollbar-width: none;
}

#rss-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background-color: red;
    margin: 0;
    padding: 1px;
}

.container-right:hover #rss-scrollbar {
    background-color: blue;
}

#rss-scrollbar-thumb {
    background-color: black;
    width: 18px;
    /*TODO: indicate scroll size; small when a lot to scroll, larger when little */
    height: 10%;
    border-radius: 15%;
    cursor: pointer;
    position: relative;
}

.rss-title {
    font-size: 20px;
    padding: 10px 0;
}

.rss-item-title {
    font-size: 15px;
}

.rss-spacer {
    padding: 0 5px;
}

.rss-item-info {
    font-size: 10px;
    color: darkgrey;
    display: flex;
    justify-content: center;
    padding: 0 0 10px;
}

.rss-item-info a {
    color: darkgrey;
}

#rss-feed-loader {
    position: relative;
    visibility: hidden;
}

#rss-feed-loader::before {
    content: "";
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    animation: dots 1.5s steps(4) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}