* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: weathericons-regular-webfont, Roboto Light, Verdana, Tahoma,
    Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.rss-title {
  font-size: 20px;
}

.itemTitle {
  font-size: 15px;
}

.itemDate {
  font-size: 10px;
  color: darkgrey;
  padding: 0 0 10px;
}

.quote-text {
  padding: 10px 30px 0px;
}

.quote-author {
  font-size: 20px;
  padding: 0 0 10px;
  color: darkgrey;
}

#logo-image {
  padding: 10px;
}

#bookmarks-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#bookmarks-card > .favorite {
  font-size: 15px;
  padding: 10 10px;
  text-align: left;
  margin: auto;
  width: 200px;
}

.favorite > li {
  display: flex;
  list-style: none;
}

span.short {
  width: 33%;
}

span.link {
  width: 66%;
}

.favorite > p.title {
  font-size: 20px;
}

[class*="-panel"] {
  float: left;
  margin: 10 5px;
  min-height: 1px;
  height: auto;
}

.container {
  display: flex;
  margin: 5px 0;
  border: solid rgba(250, 235, 215, 0.4) 1px;
}

.container > div {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 3px;
}

[class*="col-"] {
  justify-content: center;
  width: 98.2%;
}

/* desktop styling */
@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
  }

  #bookmarks-card > .favorite {
    height: 150px;
  }

  #rss-card {
    height: 800px;
    overflow: auto;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
